{% extends "master.html" %}

{% block title %}
    Web Application 2
{% endblock %}

{% block content %}
    <h1>Web Application 2</h1>
    
    <p>Back to <a href="/web_applications">Dashboard</a></p>

    <p>{{ web_application.name }} - {{ web_application.url }} </p>
    <p>{{ web_application.description }}</p>

    <ul>
        <li>Total Valid Count: {{ web_application.total_valid_count }}</li>
        <li>Total Anomalous Count: {{ web_application.total_anomalous_count }}</li>
        <li>Total Count: {{ total_count }}</li>
        <li>Allowed Percentage: {{ web_application.allowed_percentage }}</li>
        <li>Denied Percentage: {{ web_application.denied_percentage }}</li>
        <li>True Positive Rate: {{ web_application.true_positive_rate }}</li>
        <li>False Positive Rate: {{ web_application.false_positive_rate }}</li>
        <li>True Negative Rate: {{ web_application.true_negative_rate }}</li>
        <li>False Negative Rate: {{ web_application.false_negative_rate }}</li>
    </ul>

    <button onclick="window.location.href = '/';">Back to Dashboard</button>
{% endblock %}