<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WAF Overview</title>
    <link rel="stylesheet" href='static/styles.css'>
</head>
<body>
    <header>
        <h1>Web Application Firewall Overview</h1>
    </header>
    <main>
        <section class="waf-overview">
            {% for waf in wafs %}
            <article class="waf">
                <h2>{{ waf.name }}</h2>
                <ul>
                    <li>Total Requests: {{ waf.statistics.total_requests }}</li>
                    <li>Blocked Requests: {{ waf.statistics.blocked_requests }}</li>
                    <li>Allowed Requests: {{ waf.statistics.allowed_requests }}</li>
                    <li>Threats Detected: {{ waf.statistics.threats_detected }}</li>
                </ul>
                <div class="image-container">
                    <img src="{{ waf.signature_graph_url }}" alt="Request statistics graph for {{ waf.name }} Signature Classification" class="centered-image">
                </div>
                <div class="image-container">
                    <img src="{{ waf.outlier_graph_url }}" alt="Request statistics graph for {{ waf.name }} Outlier Classification" class="centered-image">
                </div>
                <div class="button-container">
                    <a href="{{ waf.waf_details_path }}" target="_blank" rel="noopener noreferrer"><button>View Detais</button></a>
                    <a href="{{ waf.start_waf_path }}" target="_blank" rel="noopener noreferrer"><button>Start WAF</button></a>
                    <a href="{{ waf.start_web_app_path }}" target="_blank" rel="noopener noreferrer"><button>Start Web App</button></a>
                </div>
                <div class="button-container">
                    <a href="{{ waf.waf_address }}" target="_blank" rel="noopener noreferrer"><button>View App (WAF)</button></a>
                    <a href="{{ waf.web_app_address }}" target="_blank" rel="noopener noreferrer"><button>View App (Native)</button></a>
                </div>
            </article>
            {% endfor %}
        </section>
    </main>
    <footer>
        <p>&copy; 2024 WebAppFirewall</p>
    </footer>
</body>
</html>
