<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Application 2</title>
    <link rel="stylesheet" href='styles.css'>
</head>

<body>
    <header>
        <h1 class="page-title">Web Application 2</h1>
    </header>
    <main>
        <section class="waf-overview">
            <p><strong>Web Application Name:</strong> {{ web_application.name }}</p>
            <p><strong>Web Application URL:</strong> {{ web_application.url }}</p>
            <p><strong>Web Application Path:</strong> {{ web_application.path }}</p>
            <p><strong>Web Application Description:</strong> {{ web_application.description }}</p>
        </section>

        <ul class="stats-list">
            <li><strong>Total Valid Count:</strong> {{ web_application.total_valid_count }}</li>
            <li><strong>Total Anomalous Count:</strong> {{ web_application.total_anomalous_count }}</li>
            <li><strong>Total Count:</strong> {{ web_application.total_count }}</li>
            <li><strong>Allowed Percentage:</strong> {{ web_application.allowed_percentage }}</li>
            <li><strong>Denied Percentage:</strong> {{ web_application.denied_percentage }}</li>
            <li><strong>True Positive Rate:</strong> {{ web_application.true_positive_rate }}</li>
            <li><strong>False Positive Rate:</strong> {{ web_application.false_positive_rate }}</li>
            <li><strong>True Negative Rate:</strong> {{ web_application.true_negative_rate }}</li>
            <li><strong>False Negative Rate:</strong> {{ web_application.false_negative_rate }}</li>
        </ul>

        <button class="btn btn-primary" onclick="window.location.href = '/';">Back to Dashboard</button>
    </main>
</body>